<div class="container">
    <h3>  DONATE AND SAVE LIFES {{title}} </h3>
  
  <div class="row">
    <div class="col-sm-6" >
        <div id="services" class="container-fluid text-center">
           
           
            <br>
            <div class="row slideanim">
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-off logo-small"></span>
                <h4>POWER</h4>
                <p>Know your inner strength to change the world.</p>
              </div>
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-heart logo-small"></span>
                <h4>LOVE</h4>
                <p>Love your self by doing great things like this.</p>
              </div>
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock logo-small"></span>
                <h4>JOB DONE</h4>
                <p>Never feel that day is over yet to do more magic.</p>
              </div>
            </div>
            <br><br>
            <div class="row slideanim">
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-leaf logo-small"></span>
                <h4>GREEN</h4>
                <p>Saying go green is not enough but involving in it is awesome.</p>
              </div>
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-certificate logo-small"></span>
                <h4>CERTIFIED</h4>
                <p>You are certified when you prove yourself</p>
              </div>
              <div class="col-sm-4">
                <span class="glyphicon glyphicon-wrench logo-small"></span>
                <h4 >HARD WORK</h4>
                <p>Not smart work always works but hard work definitely works</p>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm-6">
      <p><video width="400" controls>
          <source src="../assets/images/Untitled.mp4" type="video/mp4">
          
          Your browser does not support HTML5 video.
        </video></p>
    </div>
  </div>
<hr>
 
</div>

